@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{




    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 24px;
    
}

body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: var(--space-md);
}
.search-input{
    flex: 1;
}

main{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 95vw;
    margin-inline: auto;

}
#toolbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notes-container{
    display: grid;
    grid-template-columns: 1fr;

}