@charset "UTF-8";

@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    
    background: var(--background);
    font-family: 'Inter';
    color: var(--text);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);

    padding: var(--space-sm);

    background: var(--surface);
    box-shadow: var(--shadow-md);
}
.logo{
    width: 30px;
    height: 30px;
}
.logo span{
    margin: auto;
}
.search-input{
    flex: 1;

    background: var(--surface-light);

    border-radius: var(--space-sm);
    border: none;
    outline: none;
    
    padding: var(--space-sm);
}
.theme-toggle{
    width: 30px;
    height: 30px;

    border: none;
}

main{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90vw;
    margin-inline: auto;

}
#toolbar{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#toolbar-actions{
    width: 100%;
}
#toolbar-tabs{
    width: 100%;
}
#toolbar-sort{
    width: 100%;
}

#notes-container{
    display: grid;
    grid-template-columns: 1fr;

    gap: var(--space-md);

    width: 100%;
}
.note-card{
    display: flex;
    flex-direction: column;
    
    width: 100%;
        
    border-radius: 0 0 var(--space-lg) var(--space-lg);
    overflow: hidden;

}
.note-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);

    
    height: 30px;
}
.note-menu-btn{
    margin-left: auto;
}

.note-content{
    display: flex;
    flex-direction: column;

    padding: var(--space-sm);
}
.note-title h2{
    text-indent: var(--space-md);
}
.note-text {
    margin: var(--space-xs) 0;
}
.note-text p{
    text-indent: var(--space-md);
}
/*.note-category{

}*/
.note-tags{
    display: inline-flex;
    gap: var(--space-sm);

    margin: var(--space-xs) 0;
}
.note-dates{
    display: flex;
    flex-direction: row;
}